[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "1.2.1"
mplfinance = "0.12.7a4"
matplotlib = "3.3.3"
yfinance = "0.1.55"
pandas-datareader = "0.9.0"
numpy = "1.19.5"

[dev-packages]
flake8 = "3.8.4"
pep8-naming = "0.11.1"
autopep8 = "1.5.4"

[requires]
python_version = "3.9"
